<fieldset>
  <form class="contactinfo" action="/contacts" method="post">
    <input type="text" name="first_name" placeholder="First Name" value="">
    <input type="text" name="email" placeholder="Email" value="">
    <input type="phone" name="phone" placeholder="Phone Number" value="">
    <input type="text" name="linked_in_url" placeholder="LinkedIn Account" value="">
    <input type="text" name="twitter_url" placeholder="LinkedIn Account" value="">
    <input type="text" name="job_title" placeholder="Job Title" value="">
    <input type="text" name="job_title" placeholder="Job Title" value="">
  </form>
</fieldset>
