<fieldset>
  <form class="createtag" action="/utags/create" method="post">
    <input type="text" name="name" placeholder="Tag Name" value="">
    <input type="submit" value="Submit">
  </form>
</fieldset>
