<fieldset>
  <form class="userinfo" action="/users" method="post">
    <input type="text" name="first_name" placeholder="First Name" value="">
    <input type="text" name="last_name" placeholder="Last Name" value="">
    <input type="text" name="email" placeholder="Email Address" value="">
    <input type="password" name="password" placeholder="Password" value="">
    <input type="submit" name="name" value="Join Now">
  </form>
</fieldset>

<%# same partial as the sign up form excpet add variables to value so its populated with info %>
