<%- include ../partials/head.ejs %>

<!-- html code goes here <body></body> is in the partials along with all the css semantic ui and js-->

<h1>You are about to delete this contact</h1>

<h2>ARE YOU SURE?</h2>

<form class="delete" action="deletepath.com" method="post">
  <input type="submit" value="Submit">
</form>

<%- include ../partials/foot.ejs %>
