<%- include ../partials/head.ejs %>

<!-- html code goes here <body></body> is in the partials along with all the css semantic ui and js-->

<h1>This is where you add new contacts!!</h1>

<form method="POST" action="/users/1/contacts/img" enctype="multipart/form-data">
  <input type="file" name="image">
  <input type="submit">
</form>
<p></p>
<%- include ../partials/forms/contactinfo.ejs %>

<%- include ../partials/foot.ejs %>
