<%- include partials/head.ejs %>

<!-- html code goes here <body></body> is in the partials along with all the css semantic ui and js-->

<h1>This is the About Page</h1>

<%- include partials/foot.ejs %>
