<%- include partials/head.ejs %>

<!-- html code goes here <body></body> is in the partials along with all the css semantic ui and js-->

<h1>This is the Error Page</h1>

<p>
  <%= error.status %>
</p>
<p>
  <%= error.message %>
</p>

<%- include partials/foot.ejs %>
