<%- include partials/head.html %>

<!-- html code goes here <body></body> is in the partials -->

<h1>This is the Error Page</h1>

<p>
  <%= error.status %>
</p>
<p>
  <%= error.message %>
</p>

<%- include partials/foot.html %>
