<%- include ../partials/head.ejs %>

<!-- html code goes here <body></body> is in the partials along with all the css semantic ui and js-->

<h1>This is Your User Dashboard</h1>

<button type="button" name="button">
  MAKE A NEW CONTACT
</button>

<p>
  All the contacts so pretty
</p>

<%- include ../partials/foot.ejs %>
