<%- include ../partials/head.ejs %>

<!-- html code goes here <body></body> is in the partials along with all the css semantic ui and js-->

<h1>This is the user account edit page</h1>

<p>
  I'm gonna show all your info in these boxes vvvvv
</p>

<%- include ../partials/forms/userinfo-filled.ejs %>

<%- include ../partials/foot.ejs %>
